html {
    cursor:url(uwucursorsmol.png), default;
}

body {
    font-family:sans-serif;
    margin:0;
    background: #ffffff;
}

p {
    font-size:100px;
}

/*a{
    text-align: center;
    font-size:18vh;
    text-decoration:none;
    font-family: 'Libre Barcode 39 Text', sans-serif;
    color:#ffffff;
}
*/

a{
    text-decoration:none;
    color:#000000;
}

a:hover {
    cursor:url(owocursorsmol.png) 15 0, pointer; 
}

.fixed-position {
    z-index:9999;
    position: sticky;
    box-sizing:border-box;
    background-color:#ffffff;
    top: 0;
    left: 0;
    width: 100%;
    height: 54px;
    display: flex;
    box-shadow: rgba(73, 73, 73) 0px 5px, rgba(0, 0, 0, 0.3) 0px 10px, rgba(0, 0, 0, 0.2) 0px 15px, rgba(0, 0, 0, 0.1) 0px 20px, rgba(0, 0, 0, 0.05) 0px 25px;
}

.bgcolor {
    box-sizing:border-box;
    margin-left: 27px;
    margin-top: 9px;
    display: flex;
}

.bgcolor:hover {
    cursor:url(owocursorsmol.png) 15 0, pointer;
}

.button {
    display: inline-block;
    margin-left:-17px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #202020;
    position: relative;
    transition: margin-top 0.2s ease-in-out;
}

#white {
    background-color: #ffffff;
}

#pink {
    background-color: #ffc0cb;
}

#orange {
    background-color: #ffab8c;
}

#yellow {
    background-color: #ffee8b;
}

#green {
    background-color: #cbfdb7;
}

#blue {
    background-color: #87cefa;
}

#purple {
    background-color: #dda0dd;
}

.button:hover {
    margin-top:-5px;
}

.title {
    font-family: 'Varela Round', sans-serif;
    color:#000000be;
    margin-top:8px;
    text-align:center;
    font-size: 30px;
    font-weight:bold;
    flex-grow:1;
}

.windows {
    text-align:right;
    font-family: sans-serif;
    color:#000000be;
    margin-right:27px;
    font-size: 30px;
    width:95px;
}

.windows:hover {
    cursor:url(owocursorsmol.png) 15 0, pointer;
}

#minimize {
    padding-top:24px;
    font-weight:bold;
}

#minimize:hover {
    color:#00000059;
}

#window:hover {
    color:#00000059;
}

#close:hover {
    color:red;
}

.default {
    position:absolute;
    top:0;
    left:0;
    visibility:visible;
    transition: visibility 0.001s;
    pointer-events: none;
    z-index:9999;
}

.hover {
    position:absolute;
    top:0;
    left:0;
    visibility:hidden;
    transition: visibility 0.001s;
    pointer-events: none;
    z-index: 9999;
}

.cb-container {
    overflow:hidden;
    position: fixed;
    box-sizing:border-box;
    bottom: 0;
    left: 25%;
    width: 75%;
    height: 23%;
    display: flex;
    flex-direction:row;
    background-color:#ff7f50;
    align-items: center;
    justify-content: left;
}

.maxim-container {
    overflow:hidden;
    position: fixed;
    box-sizing:border-box;
    bottom: 23%;
    right: 25%;
    width: 75%;
    height: 23%;
    display: flex;
    flex-direction:row;
    background-color:#B3DB60;
    align-items: center;
    justify-content: right;
    z-index:0;
}

.logo-container {
    overflow:hidden;
    position: fixed;
    box-sizing:border-box;
    bottom: 46%;
    left: 25%;
    width: 75%;
    height: 23%;
    display: flex;
    flex-direction:row;
    background-color:#ba55d3;
    align-items: center;
    justify-content: left;
}

.about-container {
    overflow:hidden;
    position: fixed;
    box-sizing:border-box;
    bottom: 69%;
    right: 25%;
    width: 75%;
    height: 23%;
    display: flex;
    flex-direction:row;
    background-color:#ffd700;
    align-items: center;
    justify-content: right;
}

.about-me {
    color:#ffee8b;
    transition-property: color;
    transition-duration: 0.25s;
}

.about-me:hover {
    color:white;
}

.maxims {
    color:#D4EE76;
    transition-property: color;
    transition-duration: 0.25s;
}

.maxims:hover {
    color:white;
}

.cb {
    color:#ffab8c;
    transition-property: color;
    transition-duration: 0.25s;
}

.cb:hover {
    color:white;
}

.logos {
    color:#d88feb;
    transition-property: color;
    transition-duration: 0.25s;
}

.logos:hover {
    color:white;
}

.link {
    text-align: center;
    font-size:18vh;
    text-decoration:none;
    font-family: 'Libre Barcode 39 Text', sans-serif;
    color:#ffffff;
}

/* make classwork #B3DB60 and move it up */