p{
  margin-top: 40vh;
  font-size: 10vh;
  text-align:center;
}

.space {
  color:transparent;
}

.come1 {
  opacity: 0;
  animation: come 6s infinite alternate;
}

.come2 {
  opacity: 0;
  animation: come 6s infinite alternate;
  animation-delay: 0.75s;
}

.come3 {
  opacity: 0;
  animation: come 6s infinite alternate;
  animation-delay: 1.5s;
}

.come4 {
  opacity: 0;
  animation: come 6s infinite alternate;
  animation-delay: 2.25s;
}

.come5 {
  opacity: 0;
  animation: come 6s infinite alternate;
  animation-delay: 3s;
}

.come6 {
  opacity: 0;
  animation: come 6s infinite alternate;
  animation-delay: 3.75s;
}

.come7 {
  opacity: 0;
  animation: come 6s infinite alternate;
  animation-delay: 4.5s;
}

.come8 {
  opacity: 0;
  animation: come 6s infinite alternate;
  animation-delay: 5.25s;
}

@keyframes come {
  100% {opacity: 1;}
  75% {opacity: 1;}
  0% {opacity: 0;}
}

.go1 {
  opacity: 0;
  animation: go 6s infinite alternate;
  animation-delay: 6s;
}

.go2 {
  opacity: 0;
  animation: go 6s infinite alternate;
  animation-delay: 6.75s;
}

.go3 {
  opacity: 0;
  animation: go 6s infinite alternate;
  animation-delay: 7.5s;
}

.go4 {
  opacity: 0;
  animation: go 6s infinite alternate;
  animation-delay: 8.25s;
}

.go5 {
  opacity: 0;
  animation: go 6s infinite alternate;
  animation-delay: 9s;
}

.go6 {
  opacity: 0;
  animation: go 6s infinite alternate;
  animation-delay: 9.5s;
}

@keyframes go {
  0% {opacity: 1;}
  75% {opacity: 0;}
  100% {opacity: 0;}
}

.prev {
	position: fixed;
	bottom: 20px;
	left: 20px;
}

.prev:hover {
	animation-name: previous;
	animation-duration: 0.75s;
	animation-iteration-count: infinite;
}

@keyframes previous {
	0% {left:20px;}
	50% {left:25px;}
	100% {left:20px;}
}

.next {
	position: fixed;
	top: 20px;
	right: 20px;
}

.next:hover {
	animation-name: nextone;
	animation-duration: 0.75s;
	animation-iteration-count: infinite;
}

@keyframes nextone {
	0% {right:20px;}
	50% {right:25px;}
	100% {right:20px;}
}

.button {
    color: black;
    text-decoration: none;
}