body {
    animation: colors 4s linear infinite;
}

@keyframes colors {
    0% {background-color:white;}

    15% {background-color:white;}

    35% {background-color:black;}

    65% {background-color:black;}

    85% {background-color:white;}

    100% {background-color:white;}
}

p {
    left:20vh;
    font-size: 15vh;
}

p:hover .opposites{
    color:red;
}

p:hover .attract{
    color:green;
}

.opposites {
    font-family: serif;
    position: relative;
    animation: opposites 4s ease-in-out infinite;
}

@keyframes opposites {
    0% {left:10vw; top:25vh; color:orange;}

    15% {left:10vw; top:25vh; color:orange;}

    35% {left:25vw; top:25vh; color:yellow;}

    65% {left:25vw; top:25vh; color:yellow;}

    85% {left:10vw; top:25vh; color:orange;}

    100% {left:10vw; top:25vh; color:orange;}
}

.attract {
    font-family:sans-serif;
    position: relative;
    animation: attract 4s ease-in-out infinite;
}

@keyframes attract {
    0% {left:40vw; top:25vh; color:blue;}

    15% {left:40vw; top:25vh; color:blue;}

    35% {left:26vw; top:25vh; color:rgb(179, 25, 179);}

    65% {left:26vw; top:25vh; color:rgb(179, 25, 179);}

    85% {left:40vw; top:25vh; color:blue;}

    100% {left:40vw; top:25vh; color:blue;}
}

.prev {
	position: fixed;
	bottom: 20px;
	left: 20px;
}

.prev:hover {
	animation-name: previous;
	animation-duration: 0.75s;
	animation-iteration-count: infinite;
}

@keyframes previous {
	0% {left:20px;}
	50% {left:25px;}
	100% {left:20px;}
}

.next {
	position: fixed;
	top: 20px;
	right: 20px;
}

.next:hover {
	animation-name: nextone;
	animation-duration: 0.75s;
	animation-iteration-count: infinite;
}

@keyframes nextone {
	0% {right:20px;}
	50% {right:25px;}
	100% {right:20px;}
}

.button {
    text-decoration:none;
    animation: inversion 4s linear infinite;
}

@keyframes inversion {
    0% {color:black;}
    15% {color:black;}
    35% {color:white;}
    65% {color:white;}
    85% {color:black;}
    100% {color:black;}
}