a {
  font-size:10vh;  
  text-decoration:none;
  color:black;
}

div {
    display:flex;
    align-items: center;
    align-self:center;
    justify-content:center;
    gap:10vw;
}

.bigboss {
    margin-top:20vh;
    display:flex;
    flex-direction: column;
    gap:10vh;
}

.opposites:hover {
    animation: opposite 1.5s infinite alternate;
}

@keyframes opposite {
    0% {color:red;}
    100% {color:green;}
}

.cloud:hover {
    color:#919191;
    animation: glint 2.5s infinite;
    animation-delay:1s;
}

@keyframes glint {
    0%  {color:#919191;}
    0.5%  {color: #919191;
        background: -webkit-linear-gradient(0deg, #919191 0%, #ffffff 0%, #919191 19%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;}
    2.5% {color: #919191;
        background: -webkit-linear-gradient(0deg, #919191 4%, #ffffff 25%, #919191 44%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;}
    5% {color: #919191;
        background: -webkit-linear-gradient(0deg, #919191 31%, #ffffff 50%, #919191 69%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;}
    7.5% {color: #919191;
        background: -webkit-linear-gradient(0deg, #919191 54%, #ffffff 75%, #919191 94%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;}
    9.5% {color: #919191;
        background: -webkit-linear-gradient(0deg, #919191 81%, #ffffff 100%, #919191 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;}
    10.5% {color:#919191}
    100% {color:#919191}
}

.bright:hover {
    color: white;
    background:black;
}

.easy:hover {
    animation: comego 1.5s ease-in-out infinite alternate;
}

@keyframes comego {
    0% {opacity:100%}
    100% {opacity:0%}
}

.pot:hover {
    animation: boil 1s infinite;
}

@keyframes boil {
    0% {transform: translate(0.25vh, 0.25vh) rotate(0deg);}
    10% {transform: translate(-0.25vh, -0.5vh) rotate(-2deg);}
    20% {transform: translate(-0.5vh, 0vh) rotate(2deg);}
    30% {transform: translate(0.5vh, 0.5vh) rotate(0deg);}
    40% {transform: translate(0.25vh, -0.25vh) rotate(2deg);}
    50% {transform: translate(-0.25vh, 0.5vh) rotate(-2deg);}
    60% {transform: translate(-0.5vh, 0.25vh) rotate(0deg);}
    70% {transform: translate(0.5vh, 0.25vh) rotate(-2deg);}
    80% {transform: translate(-0.25vh, -0.25vh) rotate(2deg);}
    90% {transform: translate(0.25vh, 0.5vh) rotate(-2deg);}
    100% {transform: translate(0.25vh, 0.25vh) rotate(0deg);}
}

.yeet:hover {
    animation:yeetus 3s infinite;
}

@keyframes yeetus {
    0% {transform:rotate(0deg)}
    30% {transform:rotate(-15deg)}
    35% {transform:rotate(-17deg)}
    45% {transform:rotate(-13deg)}
    50% {transform:rotate(-15deg)}
    80% {transform:rotate(0deg)}
    100% {transform:rotate(0deg)}
}

.leap:hover {
    position:relative;
    animation: leapp 0.75s infinite;
}

@keyframes leapp {
	0% {transform:translateY(0);}
	50% {transform:translateY(-2vh);}
	100% {transform:translateY(0);}
}

.home:hover {
    animation: home 20s;
}

@keyframes home {
    0% {font-size: 10vh;}
    5% {font-size: 11.75vh;}
    7% {font-size:12vh;}
    100% {font-size:12vh;}
}