html {
    overflow:hidden;
    height: 100vh;
    width: 100vw;
    background: #FFFFFF;
    background: -webkit-radial-gradient(top left, #FFFFFF, #010101);
    background: -moz-radial-gradient(top left, #FFFFFF, #010101);
    background: radial-gradient(to bottom right, #FFFFFF, #010101);
}

p {
    font-size: 10vh;
}

.bright {
    color:white;
    filter: drop-shadow(10px 10px 4px grey);
    position: fixed;
    top: -7.5vh;
	left: 20px;
}

.dark {
    color:rgb(80, 80, 80);
    filter: drop-shadow(10px 10px 4px black);
    text-align:right;
    position: fixed;
	bottom: -7.5vh;
	right: 20px;
}

.prev {
	position: fixed;
	bottom: 20px;
	left: 20px;
    filter: drop-shadow(0px 6px 2px black);
}

.prev:hover {
	animation-name: previous;
	animation-duration: 0.75s;
	animation-iteration-count: infinite;
}

@keyframes previous {
	0% {left:20px;}
	50% {left:25px;}
	100% {left:20px;}
}

.next {
	position: fixed;
	top: 20px;
	right: 20px;
    filter: drop-shadow(6px 0px 2px black);
}

.next:hover {
	animation-name: nextone;
	animation-duration: 0.75s;
	animation-iteration-count: infinite;
}

@keyframes nextone {
	0% {right:20px;}
	50% {right:25px;}
	100% {right:20px;}
}

.button {
    color: white;
    text-decoration: none;
}